@use "./card"; 

#cardContainer{
    position: relative;
    display: flex; 
    justify-content: center;
    flex-wrap: wrap; 
    margin-top: 40px;
    width: 100%;
}

@media (max-width: 600px){
    .card-body{
        display: none;
    }

    .card-title {
        display: none;
    }
}